/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 15, 2022, 9:37:13 PM
    Author     : ASUS
*/


BorderPane{
    -fx-background-image: url(../Images/imageSignIn.jpg);
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    justify-content: center;
    align-items: center;
    -fx-background-color: black;
}

VBox{
    -fx-alignment: CENTER;
}

Pane{
}

TextField{
    color: #ffffff;
}


TextField{
 
}